# Mastodon tokens (use keys like MASTODON_TOKEN_1, MASTODON_TOKEN_2, etc.)
MASTODON_TOKEN_1=your_token_here
MASTODON_TOKEN_2=another_token_here

# Bluesky passwords (use keys like BLUESKY_PASS_1, BLUESKY_PASS_2, etc.)
BLUESKY_PASS_1=your_app_password
BLUESKY_PASS_2=another_password

